.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
    text-align: center;

    padding: var(--padding);
}

.grid-item {
    border: .5px solid var(--border-color);
}
.grid-item:hover {
    filter: brightness(125%);
    cursor: pointer;
}