:root {
  --link-hover: #468186;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;

  --dark-blue: #04121f;
  --nav-padding: 0.7em;
  --nav-height: 30px;
  --padding: 25px 50px;
}

html {
  scroll-behavior: smooth;
}

* {
  transition: 400ms;
}

.light {
  --bg: var(--gray0);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray2));
  --text: var(--gray6);
  --border-color: var(--blue);
}

.dark {
  --bg: var(--dark-blue);
  --bg-nav: linear-gradient(to right, #2a2e35, #12181b);
  --text: var(--gray1);
  --border-color: var(--purple);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: var(--bg);
  color: var(--text);
}

nav {
  min-height: var(--nav-height);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 11.2px 32px;
  font-weight: bold;
  color: var(--text);
  background: var(--dark-blue);
}

.nav-pages,
.nav-home,
.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-pages {
  flex: 1;
  flex-wrap: wrap;
  gap: 0.1em clamp(0.6em, 2vw, 2em);
}
nav a {
  text-decoration: none;

  color: var(--text);
}
nav a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

main {
  height: 100vh;
  display: flex;
  padding: var(--padding);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  background-image: url("./assets/layered-waves-haikei.svg");
  background-size: cover;

  z-index: 1;
}

footer {
  background: purple;
  border: 5px solid red;
  width: 100%;
  background-image: url("./assets/layered-waves-haikei.svg");
  background-size: cover;
}
footer section {
  min-height: 100vh;
  height: 100%;
}
