:root {
  --link-hover: var(--red);
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --red: #de686b;
  --yellow: #fff565;

  --dark-blue: #04121f;
  --nav-padding: 0.7em;
  --nav-height: 30px;
  --padding: 25px 50px;
  --transition-delay: 300ms;
}

html {
  scroll-behavior: smooth;
}

* {
  transition: var(--transition-delay);
}

a {
  text-decoration: none;
}

.light {
  --bg: url("./assets/blob-scene-haikei.svg");
  --text: var(--gray6);
  --border-color: var(--blue);
  background-size: cover;
}

.dark {
  --bg: url("./assets/layered-waves-haikei.svg");
  --text: var(--gray1);
  --border-color: var(--red);
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: var(--bg);
  color: var(--text);
}

main {
  height: 100vh;
  display: flex;
  padding: var(--padding);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  background: var(--bg);
  background-size: cover;

  z-index: 1;
}

footer {
  border: 5px solid red;
  width: 100%;
  background-image: url("./assets/layered-waves-haikei.svg");
  background-size: cover;
}
footer section {
  min-height: 100vh;
  height: 100%;
}
