:root {
  --link-hover: var(--red);
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --dark-blue: #04121f;
  --nav-padding: 0.7em;
  --nav-height: 30px;
  --padding: 25px 50px;
  --transition-delay: 300ms;
}

html {
  scroll-behavior: smooth;
  background-color: var(--dark-blue);
}

* {
  transition: var(--transition-delay);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

.light {
  --accent-color: #0084a5;
  --bg: url("./assets/blob-scene-haikei.svg");
  --text: var(--gray6);
  --border-color: var(--accent-color);
  background-size: cover;
}

.dark {
  --accent-color: #de686b;
  --bg: url("./assets/layered-waves-haikei.svg");
  --text: var(--gray1);
  --border-color: var(--accent-color);
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: var(--bg);
  color: var(--text);
}

main {
  height: 100vh;
  display: flex;
  padding: var(--padding);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  background: var(--bg);
  background-size: cover;

  z-index: 1;
}

footer {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#footer-card-wrapper {
  filter: brightness(110%);
}

/* TODO Do this by currentColor. Change parent only maybe. */
.icon:hover svg path {
  fill: #c4c4c4;
}
